{
  //  "HostName=<iothub_host_name>;DeviceId=<device_id>;ModuleId=<module_id>;SharedAccessKey=<device_key>"
  "IotHubDeviceConnectionString": "<yourIotHubDeviceConnectionString>",
  "IotHubDeviceCertifConnectionString": "<yourIotHubDeviceConnectionString for device with certificates>",
  "IotHubConnectionString": "<yourIothubConnectionString>",
  "DeviceId":"",
  "EventHubName": "",
  "EventHubCompatibleEndpoint": "",
  "IotHubSasKey": ""
}