{
  //  "HostName=<iothub_host_name>;DeviceId=<device_id>;ModuleId=<module_id>;SharedAccessKey=<device_key>"
  "IotHubDeviceConnectionString": "<yourIotHubDeviceConnectionString>",
  "IotHubConnectionString": "<yourIothubConnectionString>",
  "DeviceId":"",
  "EventHubName": "",
  "EventHubCompatibleEndpoint": "",
  "IotHubSasKey": ""
  "CustomEventHubName": "",
  "CustomEventHubCompatibleEndpoint": ""
}