{
  "profiles": {
    "Device": {
      "commandName": "Project",
      "environmentVariables": {
        "IotHubConnectionString": "<yourModuleConnectionString>",
        "DeviceId":"<>"
      }
    }
  }
}